body{
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease; 

}

.advert-container {
    background-color: #1792E1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hiden;
    height: 100px;
}

.beste{
    color: white;
    font-size: 32px;
    position: absolute;
    top: 40%;
    left: 25%;
}

.punt{
    color: #FD6721;
}

.studie{
    color: #305D9E;
    font-size: 32px;
    background-color: white;
    width: 219px;
    padding: 5px;
    position: absolute;
    top: 46%;
    left: 25%;
}

.laptop{
    width: 19%;
    position: absolute;
    top: 37%;
    left: 42%;
}

.medewerker{
    width: 5.5%;
    position: absolute;
    top: 39.6%;
    left: 67%;
}

.laptop:hover{
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    transform: scale(1.10); 
}

.beste:hover{
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    transform: scale(1.05); 
}

.studie:hover{
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    transform: scale(1.05); 
}