body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.advert-container {
    text-align: left;
    background-color: #3498db;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 170px;
}

.app{
    background-color: #FD6721;
    color: white;
    font-size: 16px;
    width: 102px;
    padding: 6px;
    font-family: arial;
    border-radius: 5px;
}

.snel{
    color: white;
    margin-top: -3px;
    font-weight: 100;
    font-size: 22px;
}

.supersnel{
    color: white;
    font-weight: bold;
}

.product{
    color: white;
    margin-top: -15px;
    font-weight: 100;
    font-size: 22px;
}

.appstore{
    width: 7%;
    position: absolute;
    top: 54.5%;
}

.playstore:hover{
    transform: scale(1.15);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.appstore:hover{
    transform: scale(1.15);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.playstore{
    width: 8%;
    position: absolute;
    top: 53.5%;
    left: 43%;
}

.download{
    color: white;
    margin-top: 55px;
    width: 217px;
}

.volgende{
    color: white;
}

.download:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.02);
}

.volgende:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.02);
}

.gif{
    position: absolute;
    top: 28%;
    left: 50%;
    width: 15%;
}